<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="PlatformJuno" sequenceNumber="79">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.log" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.aspectj.runtime" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/ajdt/42/dev/update"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.json" version="0.0.0"/>
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130118183705/repository/"/>
</location>
</locations>
</target>
