<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="RMC exported TP">
<locations>
<location path="${workspace_loc:/net.sf.redmine_mylyn.tp/export}" type="Directory"/>
</locations>
</target>
