buildHome=${basedir}
buildDirectory=${basedir}/buildDirectory
sourceDir=

eclipseDir=
archivePrefix=redmineMylyn

buildType=N
buildTarget=main

sf.username=sven-k
sf.project.unixname=redmin-mylyncon
sf.project.groupId=228995
sf.password=
